.button{
  position: relative;
  width: 400px;
  height: 200px;
  border: 2px double pink;
}
.blackArrow{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 0px;
}
.textLine{
  position: relative;
  top: 75px;
}
.PDF{
  position:absolute;
  right: 0;
  top:75px
}
