$breakPointTablet: 768px;
$breakPointDesktop: 1280px;

$colors: (
  primary: #3d70b2,
  secondary: #5596e6,
  tertiary: #41d6c3,
  light: #ffffff,
  light-midtone: #dfe3e6,
  midtone: #8c9ba5,
  dark-midtone: #5a6872,
  dark: #152934,
  error: #e71d32,
  success: #5aa700,
  warning: #efc100,
  info: #5aaafa
);
